# MongoDB Connection URL
# Replace with your local or Atlas connection string
# Example (Local): mongodb://localhost:27017/analytics_dashboard
# Example (Atlas): mongodb+srv://<username>:<password>@cluster0.mongodb.net/analytics_dashboard?retryWrites=true&w=majority
MONGODB_URL=mongodb://localhost:27017/analytics_dashboard

# Security
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
